<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>Continute edit 2 <%= title %></p>
=======
    <p>Phan moi <%= title %></p>
<<<<<<< HEAD
>>>>>>> LuuThieuKhue

<p>Local edit</p>
=======

=================
    <p> Remote edit></p>
<<<<<<< HEAD
=======
    <p>Merge local</p>
>>>>>>> LuuThieuKhue
=======
    
    
    <p>Merge master</p>
>>>>>>> c0e1226237cc0ba688d4f4ec05f8d87a5860ba12


<p>remote</p>
  </body>
</html>
