<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<<<<<<< HEAD
    <p>Continute edit 2 <%= title %></p>
=======
    <p>Phan moi <%= title %></p>
>>>>>>> LuuThieuKhue

<p>Local edit</p>
  </body>
</html>
