<p>Local</p>
<<<<<<< HEAD
<p>Local edit</p>
=======
<p>remote</p>
>>>>>>> ddc2149345bcb67249153e255f7633dbb4fddd6f

<<<<<<< HEAD
<p>Local edit branch</p>
=======
<p>remote edit branch</p>
>>>>>>> bc55d213dda8207d280555db78af9497e2c62d30

<p>remote edit rebase</p>
<p>Remote</p>
